*
!.gitignore
!README.md
!LICENSE
!.zshrc
!.tmux.conf
!.config/
!.config/lvim/
!.config/lvim/config.lua
!.config/nvim/
.config/nvim/LICENSE
!.config/nvim/lua
!.config/nvim/lua/custom/
!.config/nvim/lua/custom/*
